<div *ngIf="(product.currentDocumentID$ | async); 
    then itemCreated 
    else itemNotCreated">
</div>

<!-- <div *ngIf="(product.currentDocumentID$ | async); 
    then itemNotCreated
    else itemCreated">
</div> -->

<ng-template #itemNotCreated>
  <mat-spinner></mat-spinner>
</ng-template>

<ng-template #itemCreated>

  <mat-vertical-stepper *ngIf="(product.productData$ | async) as item" style="width: 400px" linear="true">

    <mat-step label="Upload Photos">
      <app-file-upload [images]="item.images"></app-file-upload>
    </mat-step>

    <mat-step label="Add details">
       <app-item-form></app-item-form>
    </mat-step>

  </mat-vertical-stepper>

  <div *ngIf="(product.snapshot$ | async) as snap">
    {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
</div>

 

</ng-template>